<!-- <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
<h1 style="font-family: 'Germania One', cursive; text-align: center">PDF/PPT Result</h1> -->
<link href="https://fonts.googleapis.com/css?family=Margarine" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
<div class="align">
  <div class="container-fluid">
    <div *ngFor="let web of object2">
    <div class="row">
      <div class="col-10 mt-3 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              <img class="img" src="../../assets/img/icon-spring-framework.svg" alt="Card image cap" width="150px">
            </div>
            <div class="card-body">
              <h4 class="card-title">{{web.conceptName}}</h4>
              <a href="{{web.link}}" target="_blank">{{web.link}}</a>
              <p class="card-text">{{web.description}}</p>
              <div *ngIf="web==var1">
                <p>Code Percentage : {{web.codePercentage}}</p>
                <p>Intent level : {{web.intentLevel}}</p>
                <p>Confidence score : {{web.confidenceScore}}</p>
              </div>
              <img class="readmore" src="../../assets/img/readmore.svg" (click)="assignVar(web)">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>