.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    
  }
  .img{
    margin:10px
  }
  
  .align{
  
  margin-left:15%;
  }
  .row{
    transition: transform .1s;
  }
  .row:hover{
    transform: scale(1.1);
  
  }
  .readmore{
      float: right;
  }
  .card-title{
    text-transform: capitalize;
    font-family: 'Margarine', cursive;
  
  }
  .card-text{
    text-align: justify;
    font-family: 'News Cycle', sans-serif;
    font-size:15px
  
  }