 /* custom styles for html page of login component */
 body{
    padding:10%;
    padding-left: 0%;
    display: block;
    border: 0.3rem;
    border-style: solid;
    padding-left: 32%;
    background-color: darkgray;
    min-width: 150px;
}  

.warn{
    color: red;
}



