/* .example-card {
    max-width: 400px;
  } */

  .nan
  {
    width:50%;
    display: block;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  #title{
    font-size: 2rem;
    color: blue;
  }

/* 
  #sbutton{
   
    display: inline;
} */

.mat-paginator-sticky {
  left: 450px;
  bottom: 20px;
  position: fixed;
  z-index: 10;
}

#searchbutton:hover{
    color:inherit;
}

#mic{
    margin-top:0px;
    height:25px;
    width:25px;
    margin-left:2px;
}

/* #searchKey{
    
     margin-left:100px; 
     height:35px;
     width: 400px;
     min-width:100px;  
    background-color: rgb(212, 209, 209);
} */
/* body{
  min-width: 300px;;
} */



.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #d61b1b;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.amber-border  {
  border: 1px solid #ffca28;
}




.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
body{
  margin-bottom:10rem;
   
}
/* 
.searchArea{
  margin: 0;
  padding: 0;
  height: 70px;
} */

.ser{

  background-color: #cce26a;
}
 
h6{
  padding: 0;
  margin: 0;
} 

.card
{
  width: 80rem;
  margin: 20px;
}

.card>.card-body>p
{
  font-size: 17px;
}

.card>.card-body
{
  margin-left: 10px;
}
.card>.card-body>a
{
   float: right;
}

body {
  background: #eee;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
/*   outline: 1px solid #ccc; */
}

/* Still use global css (not utility css) for base typography etc? */
p {
  margin-bottom: 0.8em;
}