.example-card {
    max-width: 400px;
  }

  .nan
  {
    width:50%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  #title{
    font-size: 2rem;
  }
  
  /* .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  } */