.example-card {
    max-width: 400px;
  }

  .nan
  {
    width:50%;
    display: block;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  #title{
    font-size: 2rem;
    color: blue;
  }


  #sbutton{
    /* margin-left:700px; */
    display: inline;
}


#searchbutton:hover{
    color:inherit;
}

#mic{
    margin-top:0px;
    height:35px;
    width:35px;
    margin-left:2px;
}

#searchKey{
    
     margin-left:100px; 
     height:35px;
     width: 400px;
     min-width:100px;  
    background-color: rgb(212, 209, 209);
}
body{
  min-width: 300px;;
}