<!-- <app-header></app-header> -->


  <!-- <form #form #gSearch method="GET" id="gSearch" >
      <mat-card id="voicesearch">
          <input #searchKey name="q" id="searchKey" type="search" value={{searchTerm}}>
          <img src="assets/img/mic.png" alt="mic" (click)="voiceSearch()" id="mic">
          <mat-button mat-stroked-button color="default" type="submit" id="searchbutton" (click)="getdata()" >Search</mat-button>   
      </mat-card>
</form> -->


<!-- <div class="nane">
<app-searchbutton></app-searchbutton>
</div> -->


  <nav class="ser">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <div class="container">
    <br />
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm" class="ra">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search text-body"></i>
            </div>
            <!--end of col-->
            <div class="col" >
              <input class="form-control form-control-lg form-control-borderless"  #searchKey name="q" id="searchKey" type="search"  [(ngModel)]="searchTerm"   placeholder="Search topics or keywords">
              
            </div>
            <!--end of col-->
            <div class="col-auto">
                <form #form #gSearch method="GET" id="gSearch" >
                    <div id="voicesearch">
                <img src="assets/img/mic.png" alt="mic" (click)="voiceSearch()" id="mic">
              <button class="btn btn-lg btn-success" type="submit"  (click)="getdata()">Search</button>
            </div>
                </form>
            </div>
            <!--end of col-->
          </div>
        </form>
      </div>
      <!--end of col-->
    </div>
  </div>
</nav>




<mat-card *ngFor='let c of splicedData'>
  <mat-card class="example-card"  class="nan">
   <mat-card-header>
     <mat-card-title id="title">{{c.title}}</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <p>
       {{c.data}}
     </p>
   </mat-card-content>
   <mat-card-actions>
     <button mat-button>View More</button>
   </mat-card-actions>
  </mat-card>
  </mat-card>
  <mat-paginator (page)="pageChangeEvent($event)" [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"  class="mat-paginator-sticky">
  </mat-paginator>

  <!-- <app-paginator></app-paginator> -->