<!-- Navigation bar for the home page -->
<nav class="head">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="example-fill-remaining-space"></span>
      <a href="#"><span><img src="assets/img/logo.jpg" (click)='navigate()' alt="logo" id="logo"></span></a>
      <a href="#" id="title" >Knowledge Hub</a>
      <span class="align-center">
        <button mat-raised-button color="accent" id="loginbutton" (click)="logging()">{{Islogged}}</button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>


<mat-toolbar *ngIf="this.token.getToken()">
  <!-- <button mat-button (click)='bearer()'>bearer</button> -->
  <span>Logged in as : {{user}}</span>
</mat-toolbar>