.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  #logo{

    height:85px; 
    width:90px;
}

p{
    font-family: 'Indie Flower', cursive;
    color: blanchedalmond;
    font-size: 40px;
    margin-left: 40px;
   
}
nav{
    text-align: center;
    
}
#searchbutton:hover{
  color:inherit;
}

